<div class="banner">
  <div class="banner__contact">
    <div class="banner__contact__phone">
      <a class="mainHeader__contact__a" href="tel:07960186334">
        <span>
          <span>
            <i class="fa fa-phone" aria-hidden="true"></i>
            07960186334
          </span>
        </span>
      </a>
    </div>

    <ng-container *ngIf="user?.roles?.includes('Reader')">
      <a
        [routerLink]="['bracknellTaxis/user/dashboard/home']"
        class="banner__dashboard"
      >
        <i class="fa-solid fa-gauge-high"></i>
      </a>
    </ng-container>
    <!-- banner__contact__email -->
    <div class="banner__contact__email">
      <a class="mainHeader__mail__a" href="mailto:pinesbracknelltaxi">
        <span>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          bookingtaxi.online
        </span>
      </a>
    </div>
  </div>

  <!-- *ngIf="user !== undefined && (user?.roles?.includes('Writer') || user?.roles?.includes('Reader'))"   -->

  <div class="banner__social">
    <ul class="mainHeader__social__list">
      <li class="soc zorro mainHeader__social__list__items">
        <i class="fab fa-facebook-f zorro"></i>
      </li>
      <li class="soc mainHeader__social__list__items">
        <i class="fab fa-linkedin-in"></i>
      </li>
      <li class="soc mainHeader__social__list__items">
        <i class="fab fa-twitter"></i>
      </li>
    </ul>
  </div>
</div>

<header class="header">
  <div class="header__logo">
    <div
      [classList]="'animate__animated animate__fadeIn header__logo__image'"
      *ngIf="!isMobile"
      class="header__logo__image"
    >
      <a href="/">
        <img src="/assets/PinesTree.png" alt="Pines Executive Travel Logo" />
      </a>
    </div>

    <app-text></app-text>
  </div>
  <div class="header__mobile">
    <!-- <span>pines executive travel</span> -->
  </div>
  <ul class="header__list">
    <li #listItem (click)="selectLi(0)">
      <a class="header__list__item" [routerLink]="['/bracknellTaxis/home']">{{
        "Nav_Home" | translate
      }}</a>
    </li>
    <li #listItem (click)="selectLi(1)">
      <a
        class="header__list__item"
        [routerLink]="['/bracknellTaxis/airportTransfer']"
        >{{ "Nav_Airport" | translate }}</a
      >
    </li>

    <li
      *ngIf="!user || user?.roles?.includes('Reader')"
      #listItem
      (click)="selectLi(2)"
    >
      <a
        class="header__list__item"
        [routerLink]="['/bracknellTaxis/booking']"
        >{{ "Nav_Book" | translate }}</a
      >
    </li>
    <li #listItem (click)="selectLi(3)">
      <a
        [routerLink]="['/bracknellTaxis/contact']"
        class="header__list__item"
        >{{ "Nav_Contact" | translate }}</a
      >
    </li>
    <div
      [ngStyle]="{ 'width.px': markerWidth }"
      #segmentedControl
      #marker
      class="header__list__slide"
    ></div>
  </ul>

  <div class="header__badge">
    <span>24</span>
    <img src="/assets/mercedes.png" alt="Mercedes Logo" />
    <span>7</span>
  </div>

  <ng-container *ngIf="user === undefined; else showLogout">
    <button class="header__log">
      <a [routerLink]="['/bracknellTaxis/login']" style="display: block"
        >login</a
      >
    </button>
  </ng-container>

  <ng-template #showLogout>
    <span class="header__name">{{ user?.email }}</span>
    <button (click)="logOut()" class="header__log">
      <a [routerLink]="['/bracknellTaxis/login']" style="display: block"
        >logout</a
      >
    </button>
  </ng-template>
  <div class="header__hamburger">
    <app-hamburger (menuToggled)="onMenuToggle()"></app-hamburger>
  </div>
</header>

<header *ngIf="menuOpen" @submenuAnimation class="mobile">
  <nav class="mobile__nav">
    <ul class="mobile__nav__menu">
      <li class="mobile__nav__menu__item" (click)="toggleMenu()">
        <a [routerLink]="['/bracknellTaxis/home']">{{
          "Nav_Home" | translate
        }}</a>
      </li>
      <li class="mobile__nav__menu__item" (click)="toggleMenu()">
        <a [routerLink]="['/bracknellTaxis/airportTransfer']">{{
          "Nav_Airport" | translate
        }}</a>
      </li>
      <li
        *ngIf="!user || user?.roles?.includes('Reader')"
        class="mobile__nav__menu__item"
        (click)="toggleMenu()"
      >
        <a [routerLink]="['/bracknellTaxis/booking']">{{
          "Nav_Book" | translate
        }}</a>
      </li>
      <li class="mobile__nav__menu__item" (click)="toggleMenu()">
        <a [routerLink]="['/bracknellTaxis/contact']">{{
          "Nav_Contact" | translate
        }}</a>
      </li>

      <li
        [class.active]="isCorporate === 'Corporate Account'"
        class="mobile__nav__menu__item mobile__nav__menu__item--corporate"
        (click)="toggleSubmenu('Corporate Account')"
      >
        <a class="mobile__nav__menu__item--corporate--link">
          {{
            user?.roles?.includes("Driver")
              ? "Driver Account"
              : "Corporate Account"
          }}
          <i
            class="fa-solid fa-caret-down"
            [@rotateAnimation]="isSubmenuOpen ? 'up' : 'down'"
          ></i>
        </a>
      </li>

      <ul
        class="mobile__nav__menu__submenu"
        *ngIf="isSubmenuOpen"
        @submenuAnimation
      >
        <span *ngIf="user === undefined || !user?.roles?.includes('Driver')">
          <li (click)="submenu('get-a-quote')"><a>Get a Quote</a></li>
          <li (click)="submenu('make-booking')"><a>Make a booking</a></li>
          <li *ngIf="!user && !token" (click)="submenu('open-account')">
            <a>Open an Account</a>
          </li>
        </span>

        <li
          *ngIf="
            user !== undefined &&
            (user?.roles?.includes('Writer') || user?.roles?.includes('Driver'))
          "
          (click)="submenu('driver')"
        >
          <a> Driver</a>
        </li>

        <ng-container *ngIf="user == undefined; else showMobileLogout">
          <li (click)="submenu('')">
            <a [routerLink]="['/bracknellTaxis/login']" style="display: block"
              >login</a
            >
          </li>
        </ng-container>

        <ng-template #showMobileLogout>
          <li (click)="submenu('')" (click)="logOut()">
            <a>LogOut</a>
          </li>
        </ng-template>
      </ul>
    </ul>
  </nav>
</header>
