<div class="space"></div>
<section data-aos="fade-up" data-aos-easing="ease" class="Plan">
  <article class="Plan__airport">
    <div class="Plan__fas">
      <i class="Plan__i fas fa-plane-departure" aria-hidden="true"></i>
    </div>
    <div class="Plan__div">
      <h2 class="Plan__h2">{{ "Plan_a-1" | translate }}</h2>
      <!-- Changed to h2 -->
      <p class="Plan__p">
        {{ "Plan_a-2" | translate }}
      </p>
    </div>
  </article>

  <article class="Plan__airport">
    <div class="Plan__fas">
      <i class="Plan__i fas fa-business-time" aria-hidden="true"></i>
    </div>
    <div class="Plan__div">
      <h2 class="Plan__h2">{{ "Plan_b-1" | translate }}</h2>
      <!-- Changed to h2 -->
      <p class="Plan__p">
        {{ "Plan_b-2" | translate }}
      </p>
    </div>
  </article>

  <article class="Plan__airport">
    <div class="Plan__fas">
      <i class="Plan__i fas fa-ring" aria-hidden="true"></i>
    </div>
    <div class="Plan__div">
      <h2 class="Plan__h2">{{ "Plan_c-1" | translate }}</h2>
      <!-- Changed to h2 -->
      <p class="Plan__p">
        {{ "Plan_c-2" | translate }}
      </p>
    </div>
  </article>

  <article class="Plan__airport">
    <div class="Plan__fas">
      <i class="Plan__i fas fa-glass-cheers" aria-hidden="true"></i>
    </div>
    <div class="Plan__div">
      <h2 class="Plan__h2">{{ "Plan_d-1" | translate }}</h2>
      <!-- Changed to h2 -->
      <p class="Plan__p">
        {{ "Plan_d-2" | translate }}
      </p>
    </div>
  </article>

  <article class="Plan__airport">
    <div class="Plan__fas">
      <i class="Plan__i fas fa-birthday-cake" aria-hidden="true"></i>
    </div>
    <div class="Plan__div">
      <h2 class="Plan__h2">{{ "Plan_e-1" | translate }}</h2>
      <!-- Changed to h2 -->
      <p class="Plan__p">
        {{ "Plan_e-2" | translate }}
      </p>
    </div>
  </article>

  <article class="Plan__airport">
    <div class="Plan__fas">
      <i class="Plan__i fas fa-user-graduate" aria-hidden="true"></i>
    </div>
    <div class="Plan__div">
      <h2 class="Plan__h2">{{ "Plan_f-1" | translate }}</h2>
      <!-- Changed to h2 -->
      <p class="Plan__p">
        {{ "Plan_f-2" | translate }}
      </p>
    </div>
  </article>
</section>
<div class="space2"></div>
