
<section class="Timer">

  <div
       class="Timer__div" data-aos="fade-right" data-aos-offset="300">
    <span
      class="numscroller Timer__div__span"

      [appScroll]="500" [duration]="3000"
      >0</span
    >

    <h1>Satisfied Clients</h1>
  </div>
  <div class="Timer__div" data-aos="fade-left" data-aos-offset="300">
    <span
      class="numscroller Timer__div__span"
      [appScroll]="10" [duration]="4000"
      >0</span
    >

    <h1>Luxury Vehicles</h1>
  </div>
  <div class="Timer__div" data-aos="fade-right" data-aos-offset="300">
    <span

      class="numscroller Timer__div__span"
      [appScroll]="500000" [duration]="5000"
      >0</span
    >

    <h1>Miles</h1>
  </div>
</section>
