<div [classList]="'animate__animated animate__fadeIn box'" class="box">
  <div class="box__title">
    <h1>Profile</h1>
  </div>
  <div class="box__info">
    <div class="box__info__top">
      <div class="box__info__top__image-box">
        <div class="box__info__top__image-box__image">


              <img [src]="single ? single : '/615-6155337_all-major-credit.png'" alt="Profile Image" />




        </div>

        <span>{{ profileName }}</span>
      </div>
    </div>
    <div class="box__info__bottom">
      <div class="box__info__bottom__bookings">
        <div
          class="box__info__bottom__bookings__count box__info__bottom__bookings__count--border"
        >
          <span>{{ allbookingsLength }}</span>
          <span>Bookings</span>
        </div>

        <div
          class="box__info__bottom__bookings__count box__info__bottom__bookings__count--border"
        >
          <span>{{ upcomingbookingsLength }}</span>
          <span>Upcoming</span>
        </div>

        <div class="box__info__bottom__bookings__count">
          <span>{{ cancelledBookingsLength }}</span>
          <span>Cancelled</span>
        </div>
      </div>
      <div class="box__info__bottom__nav">
        <ul>
          <!-- <ng-container *ngFor="let item of links; let i = index">
            <li
              #link
              (click)="activeNav(link)"
            >
              {{ item.name }}
            </li>
          </ng-container> -->
          <li #listItem (click)="selectLi(0)">personal info</li>
          <li #listItem (click)="selectLi(1)">edit profile</li>
          <li #listItem (click)="selectLi(2)">Image Uploader</li>
          <div
            class="slide"
            [ngStyle]="{ 'width.px': markerWidth }"
            #segmentedControl
          ></div>
        </ul>
      </div>
    </div>
  </div>

  <div class="box__display">
 <ng-container *ngIf="number == 0; else elseTemplate">
      <app-personal-info></app-personal-info>
    </ng-container>
    <ng-template #elseTemplate>
      <ng-container *ngIf="number == 1">
        <app-edit-profile
          (profileUpdated)="onProfileUpdated()"
        ></app-edit-profile>
      </ng-container>

      <ng-container *ngIf="number == 2">
        <app-profile-image-uploader></app-profile-image-uploader>
      </ng-container>
    </ng-template>

   <!-- <app-profile-image-uploader></app-profile-image-uploader> -->
  </div>
</div>
