<div class="accordion">
  <div *ngFor="let sections of sections; let i = index" class="body">
    <div
      (click)="toggleSection(i)"
      [ngClass]="{ 'custom-class': i == 0 }"
      [class.active]="i === expandedSectionIndex"
      class="accordion-section"
    >
      <p>{{ sections.title |  translate }}</p>

      <i
        [class]="
          isSectionExpanded(i)
            ? 'fa-solid fa-chevron-up active'
            : 'fa-solid fa-chevron-down'
        "
        class="fa-solid fa-chevron-down"
      ></i>
    </div>
    <div
      (click)="toggleSection(i)"
      [@slideInOut]="isSectionExpanded(i) ? 'in' : 'out'"
      class="accordion-content"
    >
      <p>{{ sections.content | translate }}</p>
    </div>
  </div>
</div>
