<div [classList]="'animate__animated animate__fadeIn box'" class="box">
  <!-- <div class="box__info">
  <p>personal information</p>
 </div> -->
  <div class="box__container">
    <div class="box__container__info">
      <div class="box__container__info__top">
        <span>personal</span>
      </div>
      <div class="box__container__info__bottom">
        <div class="box__container__info__bottom__left">
          <div class="box__container__info__bottom__left__icon">
            <i class="fa-solid fa-user"></i>
          </div>
          <div class="box__container__info__bottom__left__text">
            <span>name</span>
            <span>{{ userProfile?.firstName }}</span>
          </div>
        </div>
        <div class="box__container__info__bottom__left">
          <div
            class="box__container__info__bottom__left__icon box__container__info__bottom__left__icon--secend"
          >
            <i class="fa-solid fa-user-group"></i>
          </div>
          <div class="box__container__info__bottom__left__text">
            <span>Surname</span>
            <span>{{ userProfile?.surname }}</span>
          </div>
        </div>
        <div class="box__container__info__bottom__left">
          <div
            class="box__container__info__bottom__left__icon box__container__info__bottom__left__icon--third"
          >
            <i class="fa-solid fa-calendar"></i>
          </div>
          <div class="box__container__info__bottom__left__text">
            <span>Date of Birth</span>
            <span>{{ userProfile?.birthday }}</span>
          </div>
        </div>

        <div class="box__container__info__bottom__left">
          <div
            class="box__container__info__bottom__left__icon box__container__info__bottom__left__icon--gender"
          >
            <i class="fa-solid fa-person-half-dress"></i>
          </div>
          <div class="box__container__info__bottom__left__text">
            <span>Gender</span>
            <span>{{ userProfile?.gender }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="box__container__info">
      <div class="box__container__info__top">
        <span>contact</span>
      </div>
      <div class="box__container__info__bottom">
        <div class="box__container__info__bottom__left">
          <div class="box__container__info__bottom__left__icon">
            <i class="fa-solid fa-mobile"></i>
          </div>
          <div class="box__container__info__bottom__left__text">
            <span>Mobile</span>
            <span>{{ userProfile?.mobile }}</span>
          </div>
        </div>

        <div class="box__container__info__bottom__left">
          <div
            class="box__container__info__bottom__left__icon box__container__info__bottom__left__icon--secend"
          >
            <i class="fa-solid fa-phone"></i>
          </div>
          <div class="box__container__info__bottom__left__text">
            <span>Home</span>
            <span>{{ userProfile?.landline }}</span>
          </div>
        </div>
        <div class="box__container__info__bottom__left">
          <div
            class="box__container__info__bottom__left__icon box__container__info__bottom__left__icon--third"
          >
            <i class="fa-solid fa-envelope"></i>
          </div>
          <div class="box__container__info__bottom__left__text">
            <span>Email</span>
            <!-- <span>zbigniewkierpiec&#64;gmail.com</span> -->
            <span style="text-transform: lowercase;">{{ userProfile?.email }}</span>
          </div>
        </div>

        <div class="box__container__info__bottom__left">
          <div
            class="box__container__info__bottom__left__icon box__container__info__bottom__left__icon--gender"
          >
            <i class="fa-solid fa-location-crosshairs"></i>
          </div>
          <div class="box__container__info__bottom__left__text">
            <span>Current Address</span>
            <span>{{ userProfile?.address }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="box__container__info">
      <div class="box__container__info__top">
        <span>Payment Information</span>
      </div>
      <div class="box__container__info__bottom">
        <div class="box__container__info__bottom__left">
          <div class="box__container__info__bottom__left__icon">
            <i class="fa-solid fa-credit-card"></i>
          </div>
          <div class="box__container__info__bottom__left__text">
            <span>payment-method</span>
            <span>Credit Card</span>
          </div>
        </div>
        <div class="box__container__info__bottom__left">
          <div
            class="box__container__info__bottom__left__icon box__container__info__bottom__left__icon--secend"
          >
            <i class="fa-regular fa-credit-card"></i>
          </div>
          <div class="box__container__info__bottom__left__text">
            <span>Card Number</span>
            <span>**** **** **** 1234</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
