<!-- <section class="airportTransfer">
  <article class="airportTransfer__name">
    <h1 class="airportTransfer__name__h1">Airports , Docks & Stations</h1>
    <p>
      We’re here to provide seamless travel to and from all major airports, docks, and train stations. Whether you’re flying out, docking in, or heading to your next adventure by train, we’ve got you covered!
  </p>

  </article>

  <section class="airportTransfer__desBox">
    <div class="airportTransfer__descriptions">
      <h2>Why Book With Us?</h2>
    </div>
    <div class="airportTransfer__descriptions2">
      <h2>
        Start your holiday or business trip in Mercedes E class Luxury to your
        point of arrival or departure. Call 0800 860 6293 or Book Online.
      </h2>
    </div>
  </section>
</section> -->
<div class="box">
  <section class="banner">
    <div class="banner__tittle">
      <h1>Airports , Docks & Stations</h1>
    </div>
    <section class="banner__us">
      <h2 class="banner__us__h2">Why Book With Us?</h2>

      <h2>
        Start your holiday or business trip in comfort with our luxurious
        Mercedes E-Class service. We’ll take you seamlessly to your destination,
        whether it’s the airport, dock, or station. For inquiries, feel free to
        call us at 0800 860 6293, or you can easily book online. We look forward
        to serving you!
      </h2>
    </section>
  </section>
  <section class="advert">
    <div class="advert__name">
      <div class="advert__name__div">
        <input
          class="advert__name__div__input"
          type="checkbox"
          checked="true"
          disable
        /><span class="advert__name__div__span"
          ><i class="fa fa-check" aria-hidden="true"></i
        ></span>
        <h4 class="advert__name__div__h4">Mercedes Luxury saloons/estates</h4>
      </div>
      <div class="advert__name__div">
        <input
          class="advert__name__div__input"
          type="checkbox"
          checked="true"
          disabled
        />
        <span class="advert__name__div__span"
          ><i class="fa fa-check" aria-hidden="true"></i
        ></span>
        <h4 class="advert__name__div__h4">Reliable Service</h4>
      </div>
      <div class="advert__name__div">
        <input
          class="advert__name__div__input"
          type="checkbox"
          checked="true"
          disabled
        />
        <span class="advert__name__div__span"
          ><i class="fa fa-check" aria-hidden="true"></i
        ></span>
        <h4 class="advert__name__div__h4">Rated 5 * on trip advisor</h4>
      </div>
      <div class="advert__name__div">
        <input
          class="advert__name__div__input"
          type="checkbox"
          checked="true"
          disabled
        />
        <span class="advert__name__div__span"
          ><i class="fa fa-check" aria-hidden="true"></i
        ></span>
        <h4 class="advert__name__div__h4">FREE meet & Greet</h4>
      </div>
      <div class="advert__name__div">
        <input
          class="advert__name__div__input"
          type="checkbox"
          checked="true"
          disabled
        />
        <span class="advert__name__div__span"
          ><i class="fa fa-check" aria-hidden="true"></i
        ></span>
        <h4 class="advert__name__div__h4">Card payment in all cars</h4>
      </div>
      <div class="advert__name__div">
        <input
          class="advert__name__div__input"
          type="checkbox"
          checked="true"
          disabled
        />
        <span class="advert__name__div__span"
          ><i class="fa fa-check" aria-hidden="true"></i
        ></span>
        <h4 class="advert__name__div__h4">Lady Drivers Available</h4>
      </div>
      <div class="advert__name__div">
        <input
          class="advert__name__div__input"
          type="checkbox"
          checked="true"
          disabled
        />
        <span class="advert__name__div__span"
          ><i class="fa fa-check" aria-hidden="true"></i
        ></span>
        <h4 class="advert__name__div__h4">No early or late surcharges</h4>
      </div>
      <div class="advert__name__div">
        <input
          class="advert__name__div__input"
          type="checkbox"
          checked="true"
          disabled
        />
        <span class="advert__name__div__span"
          ><i class="fa fa-check" aria-hidden="true"></i
        ></span>
        <h4 class="advert__name__div__h4">Online and Telephone booking</h4>
      </div>
      <div class="advert__name__div">
        <input
          class="advert__name__div__input"
          type="checkbox"
          checked="true"
          disabled
        />
        <span class="advert__name__div__span"
          ><i class="fa fa-check" aria-hidden="true"></i
        ></span>
        <h4 class="advert__name__div__h4">All non smoking drivers</h4>
      </div>
      <div class="advert__name__div">
        <input
          class="advert__name__div__input"
          type="checkbox"
          checked="true"
          disabled
        />
        <span class="advert__name__div__span"
          ><i class="fa fa-check" aria-hidden="true"></i
        ></span>
        <h4 class="advert__name__div__h4">
          Booking reminder text prior to travel
        </h4>
      </div>
      <div class="advert__name__div">
        <input
          class="advert__name__div__input"
          type="checkbox"
          checked="true"
          disabled
        />
        <span class="advert__name__div__span"
          ><i class="fa fa-check" aria-hidden="true"></i
        ></span>
        <h4 class="advert__name__div__h4">
          Flight tracking minimises parking fees
        </h4>
      </div>
      <div class="advert__name__div">
        <input
          class="advert__name__div__input"
          type="checkbox"
          checked="true"
          disabled
        />
        <span class="advert__name__div__span"
          ><i class="fa fa-check" aria-hidden="true"></i
        ></span>
        <h4 class="advert__name__div__h4">Free onboard chilled water</h4>
      </div>
    </div>
    <div class="advert__prices">
      <div class="advert__prices__exemple">
        <div class="advert__prices__exemple__div">
          <i class="fa-solid fa-plane-departure"></i>
        </div>
        <h1 class="advert__prices__exemple__h1">Gatwick</h1>
        <p class="advert__prices__exemple__p">£90.00</p>
      </div>
      <div class="advert__prices__exemple">
        <div class="advert__prices__exemple__div">
          <i class="fa-solid fa-plane-departure"></i>
        </div>
        <h1 class="advert__prices__exemple__h1">Heathrow</h1>
        <p class="advert__prices__exemple__p">£55.00</p>
      </div>
      <div class="advert__prices__exemple">
        <div class="advert__prices__exemple__div">
          <i class="fa-solid fa-plane-departure"></i>
        </div>
        <h1 class="advert__prices__exemple__h1">Luton</h1>
        <p class="advert__prices__exemple__p">£90.00</p>
      </div>
      <div class="advert__prices__exemple">
        <div class="advert__prices__exemple__div">
          <i class="fa-solid fa-plane-departure"></i>
        </div>
        <h1 class="advert__prices__exemple__h1">City Airport</h1>
        <p class="advert__prices__exemple__p">£130.00</p>
      </div>
      <div class="advert__prices__exemple">
        <div class="advert__prices__exemple__div">
          <i class="fa-solid fa-plane-departure"></i>
        </div>
        <h1 class="advert__prices__exemple__h1">Stanstead</h1>
        <p class="advert__prices__exemple__p">£140.00</p>
      </div>
      <div class="advert__prices__exemple">
        <div class="advert__prices__exemple__div">
          <i class="fa fa-anchor" aria-hidden="true"></i>
        </div>
        <h1 class="advert__prices__exemple__h1">Southampton Port</h1>
        <p class="advert__prices__exemple__p">£150.00</p>
      </div>
      <div class="advert__prices__exemple">
        <div class="advert__prices__exemple__div">
          <i class="fa fa-train" aria-hidden="true"></i>
        </div>
        <h1 class="advert__prices__exemple__h1">St Pancras Station</h1>
        <p class="advert__prices__exemple__p">£100.00</p>
      </div>
      <div class="advert__prices__exemple">
        <div class="advert__prices__exemple__div">
          <i class="fa fa-train" aria-hidden="true"></i>
        </div>
        <h1 class="advert__prices__exemple__h1">London Waterloo station</h1>
        <p class="advert__prices__exemple__p">£100.00</p>
      </div>
    </div>
  </section>

  <section class="info">
    <div class="info__text">
      <p>
        Just a quick note: the rates above apply for travel 24/7, but they don’t
        include bank or public holidays.
      </p>

      <p>
        If you're traveling on a bank or public holiday, there’s a small
        supplement of £10.00. For pickups, we’ll also keep an eye on airport
        parking costs to ensure they stay as low as possible by monitoring your
        flight arrival.
      </p>

      <p>
        Thanks for your understanding! We’re here to help make your travel
        smooth and enjoyable.
      </p>
    </div>
  </section>
</div>
