<div class="slideshow">
  <div class="slideshow__item">
    <img class="slideshow__img" src="/assets/executive.jpg" alt="" />
    <div class="slideshow__text">
      <h5 class="slideshow__h5">{{ "Slide_Show_a-1" | translate }}</h5>
      <p class="slideshow__p">
        {{ "Slide_Show_a-2" | translate }}
      </p>
    </div>
  </div>

  <div class="slideshow__item">
    <img class="slideshow__img" src="/assets/airport.jpg" alt="" />
    <div class="slideshow__text">
      <h5 class="slideshow__h5">{{ "Slide_Show_b-1" | translate }}</h5>
      <p class="slideshow__p">
        {{ "Slide_Show_b-2" | translate }}
      </p>
    </div>
  </div>

  <div class="slideshow__item">
    <img class="slideshow__img" src="/assets/wesele.jpg" alt="" />
    <div class="slideshow__text">
      <h5 class="slideshow__h5">{{ "Slide_Show_c-1" | translate }}</h5>
      <p class="slideshow__p">
        {{ "Slide_Show_c-2" | translate }}
      </p>
    </div>
  </div>
</div>
