<section class="cars">
  <article class="cars__mercedes">
    <div
      data-aos="fade-right"
      data-aos-easing="ease"
      class="cars__mercedes__photo"
    >
      <img
        src="/assets/26-264798_new-2018-mercedes-benz-e-class-e-300.png"
        alt=""
      />
    </div>
    <div data-aos="zoom-in" data-aos-easing="ease" class="cars__mercedes__text">
      <h1>Executive Airport Taxi Transfers for Everyone</h1>
      <h2>
        Looking for a reliable airport taxi transfer? At Cars Exec, we offer
        premium airport taxis with professional chauffeurs for all transfers
        throughout the UK, making our services accessible to everyone. Our
        vehicles are equipped with <strong>4G Wi-Fi</strong>, allowing you to
        work or browse while you travel. <br /><br />
        Our prices are <strong>competitive</strong>, and we take pride in
        collecting all our clients in immaculately presented executive
        chauffeur-driven cars. Cars Exec provides a comprehensive
        <strong>airport meet and greet service</strong>, ensuring that your
        transfer to and from the airport is prompt, comfortable, and
        hassle-free. Our drivers monitor live flight information to ensure they
        are ready and waiting for you upon your return. <br /><br />
        <strong
          >Choose Cars Exec for your next airport transfer and enjoy a seamless
          travel experience!</strong
        >
      </h2>
    </div>
  </article>
  <div class="line"></div>
  <article class="cars__hyundai">

<div   data-aos="fade-left"      class="cars__hyundai__photo">
  <img src="/assets/HyundaiIonicHybrid_900.webp" alt="">
</div>
<div   data-aos="fade-up"
data-aos-easing="ease"     class="cars__hyundai__text">
<h1>Saloon Taxis: Popular and Economical</h1>
<h2> The saloon (sedan) minicab is our most popular and economical choice,
  offering a versatile, all-purpose option for up to four passengers. With
  ample space for moderate luggage, it’s perfect for airport transfers,
  business trips, or local journeys.
  <br /><br />
  If you have more luggage than a saloon taxi can accommodate, consider
  our estate taxi (station wagon), which provides extra room for larger
  bags or bulky items. For groups larger than four people, we recommend
  hiring an MPV (minivan) taxi to ensure everyone travels comfortably.</h2>
</div>

  </article>
  <div class="line"></div>
  <article class="cars__vito">

    <div      data-aos="fade-right"
    data-aos-easing="ease"         class="cars__vito__photo">
      <img src="/assets/vito.png" alt="">
    </div>
    <div  data-aos="zoom-in" data-aos-easing="ease"       class="cars__vito__text">
      <h1>MPV Taxis: Spacious and Comfortable</h1>
      <h2> Our MPV vehicles are ideal for carrying both passengers and luggage,
        with the capacity to stow up to eight suitcases and two items of hand
        luggage (standard cabin-sized dimensions). If you’re interested in
        reserving one of our executive large taxis, please get in touch for
        advice on dimensions and capacity to suit your needs.
        <br /><br />
        The MiCabi Large Taxi range features V-Class Mercedes or similar models,
        ensuring a stylish and practical option for airport transfers and local
        journeys. The interiors are designed with sleek, comfortable upholstery
        and ergonomically crafted seating, providing a premium travel
        experience.
        <br /><br />
        Additionally, our interior consoles and technology meet the highest
        standards, ensuring we can cater to your every requirement during your
        journey.</h2>
    </div>
  </article>
</section>
