<div class="book-mobile">
  <!-- <button>call now</button>  -->

  <div
    onclick="location.href='mailto:zbigniewkierpiec@gmail.com';"
    class="book-mobile__left"
  >
    <i class="fa-sharp fa-solid fa-envelope"></i>
    <span>Email us </span>
  </div>

  <div onclick="location.href='tel:07912093124';" class="book-mobile__envelope">
    <i class="fa-solid fa-phone"></i>
  </div>
  <a  [routerLink]="['/bracknellTaxis/booking']"       class="book-mobile__right">
    <span>book now</span><i class="fa-solid fa-calendar-days"></i>
  </a>
</div>
