<div [classList]="'animate__animated animate__fadeIn box'" class="box">
  <div class="box">
    <h1 class="mt-3">Upcoming Booking List</h1>

    <ng-container *ngIf="bookings">
      <table class="table table-bordered mt-3">
        <thead>
          <tr>
            <th>Booked At</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>

            <th>Pickup</th>
            <th>Via</th>
            <th>Destination</th>
            <th>Pick Up Date</th>
            <th>Louggages</th>
            <th>Passengers</th>
            <th>Car Type</th>

            <th>Instructions</th>
            <th>Greet</th>
            <th>Price</th>
            <th>Status</th>
            <th>booking cancellations</th>
          </tr>
        </thead>

        <tbody style="width: fit-content">
          <ng-container *ngIf="bookings && bookings.length > 0">
            <tr *ngFor="let item of bookings">

              <td>{{ item.createdAt | date: 'medium' }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.phoneNumber }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.pickupLocation }}</td>
              <td>{{ item.via }}</td>
              <td>{{ item.dropoffLocation }}</td>
              <td>{{ item.pickupTime | date : "MMM d, y, h:mm a" }}</td>

              <td>{{ item.louggages }}</td>
              <!-- Corrected property name -->
              <td>{{ item.passengers }}</td>
              <td>{{ item.carType }}</td>
              <td>{{ item.driverInstruction }}</td>
              <td>{{ item.greet ? "Yes" : "No" }}</td>
              <td>£{{ item.price }}</td>
              <td>{{ getBookingStatus(item.status) }}</td>
              <td class="button">
                <button
                  [ngClass]="{ disable: item.status }"
                  [disabled]="item.status"
                  (click)="cancellBooking(item.id)"
                >
                  Cancell Booking
                </button>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="!bookings || bookings.length === 0">
            <tr>
              <td colspan="14">No bookings found.</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>
