<section class="card-1">
  <nav class="card__links" aria-label="Main navigation">
    <h2 class="links__h2">Important Links</h2>
    <ul>
      <li class="links__link">
        <a href="/index.html" title="Home - Bracknell Executive Travel">Home</a>
      </li>
      <li class="links__link">
        <a href="/About.html" title="Learn more about us">About</a>
      </li>
      <li class="links__link">
        <a href="/booking/Book.html" title="Book a taxi with us">Book a Taxi</a>
      </li>
      <li class="links__link">
        <a href="/Contact.html" title="Get in touch with us">Contact</a>
      </li>
    </ul>
  </nav>

  <div class="card__pay">
    <h2 class="pay__h2">We Accept All Major Credit Cards</h2>
    <div class="pay__sumUp">
      <img src="s" alt="SumUp payment provider" />
    </div>
    <div class="pay__credit">
      <img src="s" alt="Visa, MasterCard, American Express logos" />
    </div>
  </div>

  <div class="card__social">
    <h2 class="social__h2">Follow Us on Social Media</h2>
    <ul id="social__list" aria-label="Social media links">
      <li class="list__li">
        <a
          href="https://facebook.com/yourpage"
          target="_blank"
          aria-label="Visit us on Facebook"
        >
          <i class="fab fa-facebook-f zorro"></i>
        </a>
      </li>
      <li class="list__li">
        <a
          href="https://linkedin.com/yourpage"
          target="_blank"
          aria-label="Visit us on LinkedIn"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
      <li class="list__li">
        <a
          href="https://twitter.com/yourpage"
          target="_blank"
          aria-label="Visit us on Twitter"
        >
          <i class="fab fa-twitter"></i>
        </a>
      </li>
    </ul>
  </div>
</section>

<footer class="mainFooter">
  <h1 class="mainFooter__h1">
    &copy; {{ currentYear() }} by Pines Executive Travel
  </h1>
</footer>
